:host {
	--content-bg-color: rgb(195, 224, 28);
	--time-scale: 1;
	--time-offset: 0;
	--play-head: 0;
	--head-width: 1rem;
	--ruler-unit: 10px;
	--counter-scale: 1;
	user-select: none;
}

@container style(--time-scale > 5) {
	.ruler {
		--counter-scale: 0.1;
	}
}

.time-track {
	flex: 0 0 2rem;
	background-color: cadetblue;
}

.time-track {
	/* Low ticks */
	--ruler1-bdw: 0.1rem;
	--ruler1-c: #FFF;
	--ruler1-h: 0.8rem;
	--ruler1-space: 1;

	/* Tall ticks */
	--ruler2-bdw: 0.1rem;
	--ruler2-c: #FFF;
	--ruler2-h: 2rem;
	--ruler2-space: 10;

	background-repeat: repeat-x;
	background-size:
		calc(var(--ruler-unit) * var(--ruler1-space) * var(--time-scale)) var(--ruler1-h),
		calc(var(--ruler-unit) * var(--ruler2-space) * var(--time-scale)) var(--ruler2-h);

	background-image:
		linear-gradient(90deg, var(--ruler1-c) 0 var(--ruler1-bdw), transparent 0),
		linear-gradient(90deg, var(--ruler2-c) 0 var(--ruler2-bdw), transparent 0);

	background-position-x: calc(var(--time-offset) * var(--time-scale) * var(--ruler-unit));
	overflow-x: hidden;
}

.time-track.top {
	background-position-y: bottom;
}

.time-track.bottom {
	background-position-y: top;
}

.content {
	flex: 1;
	background-color: darkkhaki;
}

/* Ruler Numbers */
.ruler {
	position: relative;
	/*
	left: calc(var(--ruler-unit) * var(--time-offset));
	*/
	color: var(--ruler-num-c);
	counter-reset: d calc(-1 * var(--ruler2-space) * var(--counter-scale));
	display: flex;
	font-size: var(--ruler-num-fz);
	line-height: 1;
	list-style: none;
	margin: 0;
	/*overflow: hidden;*/
	padding: 0;
	/*position: fixed;*/
}

.ruler {
	height: var(--ruler2-h);
	inset-block-start: 0;
	inset-inline-start: calc(var(--ruler-unit) * var(--ruler2-space));
	inset-inline-start: calc(var(--ruler-unit) * var(--time-offset) * var(--time-scale));
	opacity: var(--ruler-x);
	width: 100%;
	pointer-events: none;
}

.time-track.bottom .ruler li {
	align-self: flex-end;
}

.ruler li {
	counter-increment: d calc(var(--ruler2-space) * var(--counter-scale));
	flex: 0 0 calc(var(--ruler-unit) * var(--ruler2-space) * var(--time-scale) * var(--counter-scale));
}

.ruler li::after {
	content: counter(d);
	line-height: 1;
	padding-inline-start: var(--ruler-num-pi);
}

.head {
	position: absolute;
	top: 0;
	left: calc(var(--ruler-unit)* (var(--time-offset) + var(--play-head)) * var(--time-scale) - var(--head-width) * 0.5);
	height: 100%;
	width: var(--head-width);
	background-color: black;
	opacity: 50%;
	pointer-events: none;
}
